<div class="server">
    @@for(let i = 0; i < serverList.length; i++) {
    <div class="server__item">
        <img class="server__item-bg" src="`+serverList[i].bg+`" alt="bg" />
        <h3 class="server__title">`+serverList[i].title+`</h3>
        <a onclick="return false" href="#" class="server__ip" id="copy">
            <p class="server__ip-content">`+serverList[i].ip+`</p>
            <p class="server__ip-copy">Копіювати</p>
        </a>
        <svg class="server__online">
            <circle
                class="server__online-circle-full"
                cx="45%"
                cy="45%"
                r="40%"
            />
            <circle class="`+serverList[i].circle+`" cx="45%" cy="45%" r="40%" />
        </svg>
        <img class="server__number" src=`+serverList[i].number+` alt="number">
    </div>
    }
</div>
