.hero {
    // position: relative;
    position: relative;
    
    // .hero__section
    &__section {
        position: relative;
    }

    // .hero__img-main
    &__img-main {
        max-width: 50%;
        position: absolute;
        right: -60px;
        bottom: 0;
        @media (max-width: $breakpoint1200) {
            right: 0;
            max-width: 45%;
        }
        @media (max-width: $breakpoint480) {
            max-width: 70%;
        }
    }

    // .hero__img-mask
    &__img-mask {
        z-index: 2;
        width: 100%;
        max-height: 500px;
        position: absolute;
        left: 0;
        bottom: -5px;
    }

    &__img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -10;
        height: 100%;
    }

    // .hero__content
    &__content {
        padding: 100px 0px 200px;
        max-width: 600px;

        @media (max-width: $breakpoint768) {
            padding-top: 50px;
        }
        @media (max-width: $breakpoint480) {
            padding: 20px 0px 250px;
        }
        @media (max-width: $breakpoint320) {
            padding-bottom: 200px;
        }
    }

    // .hero__content-title
    &__content-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: $whiteColor;

        @media (max-width: $breakpoint480) {
            font-size: 25px;
            line-height: 29px;
        }
    }

    // .hero__content-links
    &__content-links {
        display: flex;
        margin-top: 23px;
        column-gap: 23px;
    }

    // .hero__content-links-btn2
    &__content-links-btn2 {
        padding: 13px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $whiteColor;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        border: 3px solid #0094FF;
        border-radius: 64px;

        transform: 0.12s linear;
        
            &:hover {
                transform: scale(1.025);
            }

        @media (max-width: $breakpoint480) {
            padding: 5px 10px;
            font-size: 16px;
            line-height: 18px;
        }
    }

    
}