.guid {
    text-align: center;
    margin: 0 auto;

    // .guid__steps
    &__steps {
        margin-top: 50px;
        // ***** ANIM 1 ***** //
        opacity: 0;
        transform: translateX(-200px);
        // ***** ANIM 1 ***** //
        transition: 0.3s linear;
        // ***** ANIM 2 ***** //
        // transform: scaleX(0);
        // ***** ANIM 2 ***** //
        &.active {
            // ***** ANIM 1 ***** //
            transform: translateX(0px);
            opacity: 1;
            // ***** ANIM 1 ***** //


            // ***** ANIM 2 ***** //
                // transform: scaleX(1);
            // ***** ANIM 2 ***** //
        }
        
    }

    // .guid__info
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    // .guid__info-img
    &__info-img {
        max-width: 350px;

        @media (max-width: $breakpoint480) {
            max-width: 100px;
        }
    }

    // .guid__info-title
    &__info-title {
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 37px;
        color: $whiteColor;
        text-align: left;
        @media (max-width: $breakpoint480) {
            font-size: 1rem;
            line-height: 20px;
        }
    }

    // .guid__hero
    &__hero {
        position: relative;
    }

    // .guid__hero-img
    &__hero-img {
        position: relative;
        width: 100%;
    }

    
    // .guid__hero-btn
    &__hero-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        @media (max-width: $breakpoint480) {
            top: 70%;
            transform: translateY(-30%);
        }
    }
    &__hero-links-btn {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @media (max-width: $breakpoint480) {
            row-gap: 10px;
            top: 60%;
            transform: translateY(-40%);
        }
    }
}