.guid {
    text-align: center;
    margin: 0 auto;
    display: flex;

    @media (max-width: $breakpoint768) {
        flex-wrap: wrap;
    }

    // .guid__steps
    &__steps {
        margin-top: 50px;
        transition: 0.3s linear;
        transform: scaleY(0);

        &.active {
            transform: scaleY(1);
        }
    }

    // .guid__info
    &__info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    // .guid__info-img
    &__info-img {
        max-width: 100px;
    }

    // .guid__info-title
    &__info-title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 20px;
        color: $whiteColor;
        text-align: left;
    }

    // .guid__hero
    &__hero {
        position: relative;
    }

    // .guid__hero-img
    &__hero-img {
        position: relative;
        width: 80%;
    }


    // .guid__hero-btn
    &__hero-btn {
        position: absolute;
        top: 70%;
        transform: translateY(-30%);
        left: 50px;
        padding: 3px;

        div {
            padding: 5px 10px;
            font-size: 10px;
        }


        @media (max-width: $breakpoint768) {
            left: 100px;
        }
    }

    &__hero-links-btn {
        display: flex;
        flex-direction: column;
        top: 55%;
        transform: translateY(-45%);
        row-gap: 10px;

        @media (max-width: $breakpoint480) {
        }
    }
}