.server {
    margin-top: 30px;

    @media (max-width: $breakpoint480) {
        margin-top: 20px;
    }

    // .server__item
    &__item {
        position: relative;
        padding: 25px 50px;

        @media (max-width: $breakpoint480) {
            padding: 5px 15px;
        }
    }

    &__online {
        position: absolute;
        left: 255px;
        top: 51%;
        transform: translateY(-49%);
        width: 100px;
        height: 100px;

        @media (max-width: $breakpoint480) {
            left: 135px;
            height: 50px;
            width: 54px;
            top: 54%;
        }

        &-circle-full {
            fill: none;
            stroke-width: 7px;
            stroke: rgba(0, 0, 0, 0.2);

            @media (max-width: $breakpoint480) {
                stroke-width: 3px;
            }
        }
    }

    &__number {
        position: absolute;
        left: 230px;
        top: 3%;

        @media (max-width: $breakpoint480) {
            left: 111px;
            top: -8px;
            width: 6rem;
        }
    }


    // .server__ip
    &__ip {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: $whiteColor;

        @media (max-width: $breakpoint480) {
            font-size: 7px;
            line-height: 10px;
        }
    }


    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: $whiteColor;
        margin-bottom: 50px;

        @media (max-width: $breakpoint480) {
            margin-bottom: 20px;
            font-size: 13px;
        }
    }

    // .server__ip-copy
    &__ip-copy {
        text-align: center;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        color: $whiteColor;
        margin-top: 3px;
        position: relative;
        width: 150px;

        @media (max-width: $breakpoint480) {
            width: 100px;
        }

        &::after,
        &::before {
            position: absolute;
            content: '';
            background: $whiteColor;
            height: 2px;
            width: 40px;
            top: 50%;
            transform: translateY(-50%);

            @media (max-width: $breakpoint480) {
                width: 20px;
                height: 1px;
            }
        }

        &::after {
            right: 0;
        }

        &::before {
            left: 0;
        }
    }



    &__item-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        @media (max-width: $breakpoint480) {
            max-width: 300px;
            max-height: 80px;
        }
    }

    &__circle-one {
        // ***** 360 - 0 онлайн, 100 - 100% онлайна ***** //
        $OnlineNow: 203;
        stroke-dasharray: 360;
        stroke-dashoffset: $OnlineNow;
        transition: 1s linear;
        fill: none;
        stroke-width: 7px;
        stroke-linecap: round;
        stroke: #f3cb3c;
        transform: rotate(93deg);
        transform-origin: 46% 46%;


        @media (max-width: $breakpoint480) {
            stroke-width: 3px;
        }
    }
}