@import './reset';

@import './vars';
@import './global';

@import './libs/header';
@import './libs/footer';


@import './main/hero';
@import './main/socNetwork';

@import './shop/shop';

@import './guid/guid'